[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_HELIUS_RPC = "https://api.devnet.solana.com"
  NEXT_PUBLIC_PROGRAM_ID = "Dqm43aWDpiFr7cEk37Xnud7NPPo18dCBCkfN4hLJWHnT"
  NEXT_PUBLIC_COMMITMENT = "confirmed"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
